---
import Layout from "../components/Layout.astro";
---

<Layout title="Contact | Your Name">
  <h1>Contact</h1>

  <p>Email: nathanw7@u.northwestern.edu</p>
  <p>
    GitHub: <a href="https://github.com/stingrqy" target="_blank">github.com/stingrqy</a>
  </p>
  <p>
    LinkedIn: <a href="https://linkedin.com/in/nathanw7" target="_blank">
      linkedin.com/in/nathanw7
    </a>
  </p>
</Layout>
